:root {
    --base-color: #0058ca;
    --border-color: #d8dee4;
}

body {
    background-color: #f6f8fa !important;
}


nav {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base-color);
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    color: white;
}

#inner-container {
    background-color: #f6f8fa;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    transform: translate(-50%);
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: var(--base-color);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    left: 50%;
    transform: translate(-50%);
}

.todo-form-2 {
    display: flex;
    font-family: 'Poppins', sans-serif;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
}

.todo-form-1 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 80px;
    margin-top: 20px;
    align-items: center;
    width: 80%;
    padding: 20px;
    font-weight: 900;
}

.todo-span {
    font-weight: 300;
    font-size: small;
    margin-top: 50px;
    text-align: center;
}

.btn {
    font-weight: 900;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 225px;
    background-color: var(--base-color);
    height: 250px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-bottom: 30px;
}

iframe {
    display: block;
    width: 100%;
    height: 100vh;
}

html,
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
}
